

.editdiv{
    border: 1px solid;
    position: absolute;
    top:1%;
    left: 30%;
    display: none;
    z-index: 1;
    background-color: aliceblue;
}
.editdivvisible{
    display: block;
}
.applicationdiv{
    border: 1px solid;
    width: 80%;
    height:50vh;
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 1;
    background-color: aliceblue;
    display: none;
    overflow-y: scroll;
}
.applicationdiv_visible{
    display: block;
}
.cardele{
    border: 1px solid;
}

